

body {
  margin: 0;
  font-face {
      font-family: "Light";
      /*Can be any text*/
      src: local("911Porscha"),
          url("./fonts/911porscha/911porschav3.ttf") format("truetype");
    }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-face {
      font-family: "Light";
      /*Can be any text*/
      src: local("911Porscha"),
        url("./fonts/911porscha/911porschav3.ttf") format("truetype");
    }
}
